/* General structure that applies to both themes */
body {font-family: monospace;
      margin-left: 1em;}
h1 {margin-bottom: 0.2em;
    margin-top: 0;}
h2 {font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0;}
p.days {font-size: 200%;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Light-mode specific colours */
body {background-color: #fbf1c7;
      color: #a89984;}
h1 {color: #504945;}
.contextDay {color: #bdae93;}
.anotherDay {color: #504945;}
.currentDay {color: #fb4933;
             background: #ebdbb2;}

/* Dark-mode specific colours */
@media (prefers-color-scheme: dark) {
    body {background-color: #282828;
	  color: #928374;}
    h1 {color: #bdae93;}
    .contextDay {color: #504945;}
    .anotherDay {color: #bdae93;}
    .currentDay {background: #3c3836;}
}
